:root {
  --background: #121212;
  --foreground: #efefef;
  --heading: #457397;
  --hover: darkslateblue;
}

[data-theme='light'] {
  --background: #efefef;
  --foreground: #121212;
  --heading: #457397;
  --hover: darkslateblue;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  }

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  color: var(--heading);
}

button {
  color: white; 
  background: var(--heading);
  width: 80px;
  height: 30px; 
  font-size: 1em;
  cursor: pointer;
  border: 0.1em solid var(--heading);
  transition: .4s;
}

button:hover {
  background: var(--hover);
}
