html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  }

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  color: #457397;
}

button {
  color: white; 
  background: #457397;
  width: 80px;
  height: 30px; 
  font-size: 1em;
  cursor: pointer;
  border: 0.1em solid #457397;
  transition: .4s;
}

button:hover {
  background: darkslateblue;
}