:root {
  --background: #121212;
  --foreground: #efefef;
  --heading: #457397;
  --hover: darkslateblue;
  --warning: blue;
  --gap: 8px;
  --gap-half: 4px;
  --gap-quarter: 2px;
  --gap-double: 16px;
  --gap-triple: 24px;
}

[data-theme='light'] {
  --background: #efefef;
  --foreground: #121212;
  --heading: #457397;
  --hover: darkslateblue;
  --warning: black;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  }

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  color: var(--heading);
}
