.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  color: var(--foreground);
}

.main {
  width: 75%;
  display: block;
  margin: 0 auto;
  padding-bottom: var(--gap-double);
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
.grid-container {
  display: grid;
  grid-template-columns: .5fr 1fr;
  grid-template-rows: .01fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "header header"
    "notes app";
}

.header { grid-area: header; }
.app { grid-area: app; }

@media only screen and (max-width: 900px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .01fr 1fr .3fr;
    gap: 0px 0px;
    grid-template-areas:
      "header"
      "app"
      "notes";
  }  
}

