.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  color: var(--foreground);
}

.main {
  width: 75%;
  display: block;
  margin: 0 auto;
  padding-bottom: 80px;
}

.logo {
  height: 1em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
.grid-container {
  display: grid;
  grid-template-columns: .5fr 1fr;
  grid-template-rows: .01fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "header header"
    "notes app";
}

.header { grid-area: header; }
.notes { grid-area: notes; }
.app { grid-area: app; }

.info {
  font-weight: 800;
}

.notesSticky {
  position: sticky;
  top: 1rem;
}


@media only screen and (max-width: 700px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .01fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "header header"
      "app app"
      "notes notes";
  }  
}
